search:
	default:
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	router: App\Router\RouterFactory::createRouter
	postFacade: App\Model\PostFacade
	commentManager: App\Model\CommentManager
	dbAuthenticator: App\Model\DbAuthenticator
	security.authenticator: @dbAuthenticator
	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])
	
